<%- layout('layouts/boilerplate.ejs')%>
<div class="container pt-4">
    <h2 class="h2 text-center">All Products</h2>
</div>
<div class="container pt-4">
    <div class="row">
        <% if (noMatch !== null) {  %>
        <h2 class="text-center mt-3"><%= noMatch %></h2>
        <% } %>
        <% for (let product of products) { %>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm">
                <a href="products/<%=product._id%>"><img class="card-img-top" src="<%= product.images[0].url %>"
                        alt=""></a>
                <div class="card-body">
                    <h4 class="h4 card-title"><%= product.title %></h4>
                    <p class="card-text text-black-50"><%= product.description %></p>
                    <div class="d-flex justify-content-between">
                        <h4 class="h4 fw-medium"><%= product.price %>&euro;</h4>
                        <form action="/cart" method="POST">
                            <button class="btn btn-secondary"><i class="bi bi-cart-fill"></i> Add
                                to cart</button>
                            <input type="hidden" name="productId" value="<%=product._id%>">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>